body
{
	margin:0px;
}
#head
{
	text-align: center;
	background: linear-gradient(to right,cyan,purple);
	margin:0px;
	padding: 20px;
	border-bottom:2px solid lightgrey;
}
#head h1
{
	margin:0px;
	font-family: 'Great Vibes', cursive;
	color:white;
	font-size: 40px;

}
.contianer
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.ops
{
	display: flex;
	justify-content: center;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}
#list ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#list li
{
	float: left;
	padding: 0px;
	margin: 0px;

}
#list li:hover
{
	background-color: lightgrey;
}
#list
{
	display: flex;
	justify-content: center;
	margin: 10px;
	
}
form
{
	padding: 0px;
	margin: 0px;
}

.dhund
{
	display: flex;
	justify-content: center;
	padding: 10px;
	background:linear-gradient(to right,cyan,purple);
}
input[name="logout"],input[name="chat"],input[name="update"],input[name="homepage"],input[name="event"]
{
	background-color: white;
	border: none;
	padding: 10px 19px;
}
input[name="logout"]:hover,input[name="chat"]:hover,input[name="update"]:hover,input[name="homepage"]:hover,input[name="event"]:hover
{
	background-color: lightgrey;
}
.content
{
	display: flex;
	flex-direction: row;
}
.sidebar
{
	display: flex;
	flex-direction: column;
	border-right:1px solid black;
	height: 100%
}
#image
{
	margin: 2px;
	padding: 5px;
	display: flex;
	justify-content: center;
}
#image img
{
	border:1px solid black;
}
#upload
{
	border-top:1px solid black;
	margin: 2px;
	width: 250px;
}
#upload p
{
	text-align: center;
}
#stupid
{
	display: flex;
	justify-content: center;
	margin: 5px;
}
.material
{
	margin: 20px;
	width: 400px;
	border:1px solid black;
	border-radius: 10px;
	background-color: lightgrey;
}
#title
{
	display: flex;
	justify-content: center;
}
#title h1
{
	color: white;
	margin: 0px;
	padding: 10px;
}
#matter p
{
	text-indent: 30px;
}
#matter
{
	border:1px solid black;
	margin: 8px;
	background-color: white;
	border-radius: 20px;
	padding: 20px;
}

















